:root {
  --navbar-bg-color: hsl(0, 0%, 15%);
  --navbar-text-color: #636468;
  --navbar-text-color-focus: #34b277;
  --navbar-bg-contrast: hsl(0, 0%, 25%);
  --navbar-text-colors: #96979b;
  --white: #fff;
  --black: #000;
  --green: #39c074;
}

$gap : 4vh;
$padding : 4vh 0;
$paddings : 4vh;
$color : #48CAE4;
$bp : (
  mobile : 480px,
  tablet : 700px,
  desktop : 1440px,
);
// @mixin query($display){
//   @each $key, $value in $bp{
//     @if ($display == $key){
//       @media (max-width: $value){@content;}
//     }
//   }
// }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}

.container {
  max-width: 1500px;
  padding-left: 1.4rem;
  padding-right: 1.4rem;
  margin-left: auto;
  margin-right: auto;
}

#navbar {
  --navbar-height: 64px;
  position: fixed;
  height: var(--navbar-height);
  left: 0;
  right: 0;
  top: 0;
  z-index: 9;
  background: #fff;
  .navbar-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    .left-bar {
      width: 100%;
      display: contents;
      .navbar-item {
        margin: 0.4em;
      }
      .logo {
        font-size: larger;
        margin-right: 0px;
      }
      .navbar-menu {
        width: 100%;
        display: flex;
        .navbar-links {
          .active {
            color: var(--navbar-text-color-focus);
            border-bottom: 2px solid var(--navbar-text-color-focus);
          }
        }
        .linkOpenToggle {
          max-height: initial;
        }
      }
      .openToggle {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

.content {
  margin: auto;
  position: relative;
  max-width: 1500px;
  top: 75px;
}

.home-link,
.navbar-link {
  color: var(--navbar-text-colors);
  transition: color 0.2s ease-in-out;
  text-decoration: none;
  display: flex;
  font-weight: 600;
  align-items: center;
  transition: background-color 0.2s ease-in-out,
              color 0.2s ease-in-out;
}

.home-link:focus,
.home-link:hover {
  color: var(--navbar-text-color-focus);
}

.navbar-link {
  justify-content: center;
  width: 100%;
  padding: 0.4em 0.8em;
}

.navbar-link:focus,
.navbar-link:hover {
  color: var(--navbar-text-color-focus);
  border-bottom: 2px solid var(--navbar-text-color-focus);
}

.navbar-logo {
  background-color: var(--navbar-text-color-focus);
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin-right: 0.5em;
}
.navbar-logo-green-dot {
  width: 15px;
  height: 15px;
  background: #38be74;
  border-radius: 50%;
  border: 3px solid #fff;
  float: right;
  margin-top: -22px;
  margin-left: -8px;
}

.navbar-toggle {
  cursor: pointer;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.icon-bar {
  display: block;
  width: 25px;
  height: 4px;
  margin: 2px;
  transition: background-color 0.2s ease-in-out,
              transform 0.2s ease-in-out,
              opacity 0.2s ease-in-out;
  background-color: var(--navbar-text-color);
}

.navbar-toggle:focus .icon-bar,
.navbar-toggle:hover .icon-bar {
  background-color: var(--navbar-text-color-focus);
}

#navbar.opened .navbar-toggle .icon-bar:first-child,
#navbar.opened .navbar-toggle .icon-bar:last-child {
  position: absolute;
  margin: 0;
  width: 30px;
}

#navbar.opened .navbar-toggle .icon-bar:first-child {
  transform: rotate(45deg);
}

#navbar.opened .navbar-toggle .icon-bar:nth-child(2) {
  opacity: 0;
}

#navbar.opened .navbar-toggle .icon-bar:last-child {
  transform: rotate(-45deg);
}

.navbar-menu {
  position: fixed;
  top: var(--navbar-height);
  bottom: 0;
  transition: opacity 0.2s ease-in-out,
              visibility 0.2s ease-in-out;
  opacity: 0;
  visibility: hidden;
  left: 0;
  right: 0;
}

#navbar.opened .navbar-menu {
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 1;
  visibility: visible;
}

.navbar-links {
  list-style-type: none;
  max-height: 0;
  overflow: hidden;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 0;
  right: 0;
  margin: 1.4rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  background: var(--white);
}

#navbar.opened .navbar-links {
  padding: 1em;
  max-height: none;
}

@media screen and (min-width: 700px) {
  .navbar-toggle {
      display: none;
  }
  
  #navbar .navbar-menu,
  #navbar.opened .navbar-menu {
      visibility: visible;
      opacity: 1;
      position: static;
      display: block;
      height: 100%;
  }

  #navbar .navbar-links,
  #navbar.opened .navbar-links {
      margin: 0;
      padding: 0;
      box-shadow: none;
      position: static;
      flex-direction: row;
      list-style-type: none;
      max-height: max-content;
      width: 100%;
      height: 100%;
  }

  #navbar .navbar-link:last-child {
      margin-right: 0;
  }

  #navbar {
    .navbar-container {
      .left-bar {
        .logo {
          font-size: larger;
          margin-right: 100px;
        }
      }
    }
  }
}

.main-card{
  font-size: 35px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: $padding;

  .item {
    width: 360px;
    background: #efefef;
    margin-bottom: 20px;
    border-radius: 6px;
    .caption {
      font-size: 16px;
      font-weight: 600;
      float: left;
      padding:  20px 20px 0 20px;
      color: #7b7d81;
      width: 100%;
      text-align: left;
      display: block;
    }
  }
  .card-main {
    padding: 20px;
    display: grid;
    .card {
      background: #fff;
      margin-bottom: 20px;
      border-radius: 15px;
      .product-image {
        width: 35%;
        display: flex;
        border: 1px solid #ccc;
        padding: 15px;
        border-radius: 12px;
        height: 100px;
      }
      .three-dot {
        display: flow-root;
        margin-bottom: 6px;
        padding: 15px 15px 0 15px;
        position: relative;
        img {
          cursor: pointer;
          height: 20px;
          float: right;
        }
      }
      .more-delete {
        position: absolute;
      }
      .card-details {
        display: flex;
        justify-content: space-between;
        padding: 0px 15px 15px 15px;
        .order-status {
          font-size: 12px;
          font-weight: 600;
          padding: 4px 20px;
          border-radius: 20px;
        }
        .order-time, .order-hours {
          font-size: 15px;
          margin: 10px;
          text-align: end;
          color: #7c7e80;
          .color-black {
            color: var(--black);
            font-weight: 600;
          }
        }
      }
      .card-bottom {
        border-top: 1px solid #efefef;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        .view-order {
          font-size: 18px;
          color: var(--navbar-text-colors);
          font-weight: 600;
          cursor: pointer;
          align-items: center;
          justify-content: center;
          display: flex;
        }
        .chat-icon {
          color: var(--navbar-text-colors);
          margin-right: 10px;
        }
        .card-user-message {
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .navbar-logo-red-dot {
          width: 15px;
          height: 15px;
          background: #f763ad;
          border-radius: 50%;
          border: 3px solid #fff;
          position: absolute;
          margin-right: 20px;
          margin-top: -20px;
        }
        .p-bar {
          width: 25%;
          justify-content: center;
          align-items: center;
          position: relative;
          display: block;
          top: 15px;
          float: right;
        }
      }
      .reply-message {
        font-size: 18px;
        text-align: left;
        padding: 20px 30px;
        color: var(--navbar-text-colors);
        .checkbox {
          height: 20px;
          width: 20px;
          background: var(--green);
          border-radius: 5px;
          margin-right: 10px;
          margin-top: 4px;
          .checkmark {
            color: white;
            font-size: 13px;
            position: absolute;
            margin-top: 4px;
            margin-left: 3px;
          }
        }
        .uncheckbox {
          height: 20px;
          width: 20px;
          border: 1px solid var(--navbar-text-colors);
          border-radius: 5px;
          margin-right: 10px;
          margin-top: 4px;
        }
        .message-point {
          display: flex;
        }
        .overline {
          text-decoration: line-through;
        }
      }
    }
  }
  .cursor-pointer{
    cursor: pointer;
  }
  .drop-down {
    float: right;
    font-size: 15px;
    background: #fff;
    border: 1px solid #ccc;
    padding: 5px 20px;
    position: absolute;
    right: 15px;
    top: 30px;
    width: 120px;
    border-radius: 5px;
    a { 
      text-decoration: none;
      color: var(--navbar-text-colors);
    }
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
}


.avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.progressbar {
  background-color: #e4e6e5;
    border-radius: 13px;
}

.progressbar>div {
  background-color: #49d191;
  width: 40%;
  height: 10px;
  border-radius: 10px;
}

.orange {
  background: #fdecd0;
  color: #855c3f;
}
.blue {
  background: #d5def9;
  color: #5e6b8d;
}
.pink {
  background: #fcd8e9;
  color: #875870;
}
.green {
  background: #cdf4e3;
  color: #4c7160;
}
.default {
  background: #e4e6e7;
  color: #686c78;
}
